
/* Arxiu de treballs Marina Baro, estil css */

    body{
        font-family: 'Space Mono', monospace;
    }

    nav{
        display: flex;
        justify-content:space-around;
    }
    div.event{
        margin-top: 1rem;
    }

/* text general */
    
    h1{
        font-size: 30px;
        font-weight: 700;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    time {
        font-size: 1.2rem;
        line-height: auto;
        font-weight: 100;
        list-style: none; 
        margin: 0px;
        padding: 0px;
        padding-left: 1rem; 
    }

    h2{
        font-size: 1.2rem;
        line-height: auto;
        font-weight: 100;
        list-style: none; 
        margin: 0px;
        padding: 0px;
        padding-left: 2rem;  
    }
    ul{
        margin: 0px;
        padding: 0px;
    }

    li {
        font-size: .9rem;
        line-height: auto;
        font-weight: 100;
        list-style: none; 
        margin: 0px;
        padding: 0px;
        padding-left: 3rem;
    }
   
   .bold{
        font-weight: 700;
    }

/* interaccio links */

    a:link{
        color: black;
        text-decoration: underline;
        text-decoration-color: black;
    }
    a:visited{
        color: black;
        text-decoration: underline;
        text-decoration-color: rgb(221, 196, 85);

    }
    a:hover{
        color:rgb(221, 196, 85);
        text-decoration: underline;
        text-decoration-color: rgb(221, 196, 85);

    }
    a:active{
        color: rgb(184, 154, 21);
        text-decoration: underline;
        text-decoration-color: rgb(184, 154, 21);
    }



/* galeria d'imatges que es poden moure tipus montesori */

    .t-projecte{
        width: 25vw;
        height: auto;
        color: rgb(25, 6, 61);
        font-size: 1.2rem;
        font-weight: 100;
    }

    .dibuix {
        cursor: grab;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    figure {
        /* amplada relativa al tamany del media */
        width: auto;
        height: 100%;
    }

    .draggable {
        margin: 0px;
        padding: 8px;
    }
    
    img{
        width: inherit;
        height: inherit;
    }


  
    /* Pantalla petita mobils, sempre dalt de tot  */
@media screen and (max-width: 800px) {
    time{
        padding: 0px;
    }
    h2{
        padding: 0px;
    }

    li{
        padding: 0px;
    }

    .t-projecte{
        width: 100%;
    }
    figure {
        width: 100%;
    }
}
@media screen and (max-width: 300px) {
    time{
        font-size: 0.8rem;
        padding: 0px;

    }
    h2{
        font-size: 1rem;
        padding: 0px;
    }

    li.petit{
        display: none;
    }

    .t-projecte{
        width: 100%;
    }
    figure {
        width: 100%;
    }
}
  /* Pantalla molt gran, tielevisions, grans monitors  */
  @media screen and (min-width: 2000px) {
    body{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    nav{
        width: 100%;
    }
}
